
# freicoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=8638
#port=18638

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=241920

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=2cfe7e6d
genesis=000000005b1e3d23ecfd2dd4a6e1a35238aa0392c0a8528c40df52376d7efe2c
input=/home/example/.freicoin/blocks

# testnet
#netmagic=5ed67cf3
#genesis=00000000a52504ffe3420a43bd385ef24f81838921a903460b235d95f37cd65e
#input=/home/example/.freicoin/testnet/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
